[core]
class: CustomUnitMetadata
strictLevel: 1
logIfCreditResourceUsed:true
ignoreInUnitCapCalculation: true
availableInDemo: true
#@global templatePath:ROOT:/codes/temp/

[graphics]
showHealthBar: false

[core]
#showInEditor: false
#Well, Do not change that code for your shitty screenshot roleplay, you mfing kid.